/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/***** GENERIC STYLES *************/
/**********************************/

.wrapper{
    width: 95%;
    margin: 0 auto;
    background-color: blue;
}

.featured_navigation.a{
    display: block;
    background-color: blue;
}

nav ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

  .nav.li{
    display: block;
    margin-bottom: 5px;
}

.nav a{
    display: block;
    padding: 50px 100px;
    border-radius: 6px;
    background: blue;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background: blue;
}


@media screen and (min-width: 600px){

    nav li{
        display: inline-block;
        margin-right: 20px;
    }
}
.featured_content.img{
     float: left;

}
.featured_content{
     display: inline-block;
     width: 100%;
     background-color: blue;

}

.featured_navigation{
  background-color: blue;
}


.cubism.image3{
  max-width: 25px;
  max-height: 25px;
}


@media screen and (min-width: 800px){
    
    .wrapper{
        max-width: 1024px;
    }

    .featured_content{
        float: left;
        width: 100%;
        padding-right: 4%;
        max-height: 25px;
        margin: 0 auto;

    }
    


    .sidebar{
        float: left;
        width: 26%;
    }

     
   
   .featured_content img{
         float: left;


   }
    .featured_navigation{
      display: block;
      width: 100%;
      background-color: green;
    }

    .nav {
      color: blue;

    }
  .section.img{

    
  max-width: 25px;
  max-height: 25px;
}



